In [30]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2
from decouple import config

#### Life Expectancy

In [3]:
# Defind source data path
life_expectancy_csv = "life_expectancy_WHO.csv"
GDP = "GDP_by_country.csv"
deaths_by_risk_factor = "deaths_by_risk_factor.csv"

In [4]:
#Load source data into pandas
life_expectancy = pd.read_csv(life_expectancy_csv)
life_expectancy

         country  year  life_expectancy_at_birth
0    Afghanistan  2019                      63.2
1    Afghanistan  2015                      61.7
2    Afghanistan  2010                      59.9
3    Afghanistan  2000                      55.0
4        Albania  2019                      78.0
..           ...   ...                       ...
728       Zambia  2000                      44.5
729     Zimbabwe  2019                      60.7
730     Zimbabwe  2015                      58.5
731     Zimbabwe  2010                      51.5
732     Zimbabwe  2000                      46.6

[733 rows x 3 columns]

In [41]:
# Data cleaning
# Create new data with select columns
filtered_life_expectancy = life_expectancy[life_expectancy["year"] == 2019]
new_life = filtered_life_expectancy[["country", "life_expectancy_at_birth"]].copy()
# Reset dataframe index
new_life_expectancy = new_life.reset_index()
# Drop index column
cleaned_life_expectancy_df = new_life_expectancy.drop(["index"], axis=1)

In [42]:
# Display cleaned dataframe
cleaned_life_expectancy_df

                                country  life_expectancy_at_birth
0                           Afghanistan                      63.2
1                               Albania                      78.0
2                               Algeria                      77.1
3                                Angola                      63.1
4                   Antigua and Barbuda                      76.5
..                                  ...                       ...
178  Venezuela (Bolivarian Republic of)                      73.9
179                            Viet Nam                      73.7
180                               Yemen                      66.6
181                              Zambia                      62.5
182                            Zimbabwe                      60.7

[183 rows x 2 columns]

#### Death Risk Factors

In [48]:
death_factor = pd.read_csv("deaths_by_risk_factor.csv")
death_factor

,country,year,unsafe water source,unsafe sanitation,no access to handwashing facility,household air pollution from solid fuels,non-exclusive breastfeeding,discontinued breastfeeding,child wasting,child stunting,...,high systolic blood pressure,smoking,iron deficiency,vitamin A deficiency,low bone mineral density,air pollution,outdoor air pollution,diet high in sodium,diet low in whole grains,diet low in nuts and seeds
0,Afghanistan,1990,7554.05,5887.75,5412.31,22388.50,3221.14,156.10,22778.85,10408.44,...,28183.98,6393.67,726.43,9344.13,374.84,26598.01,4383.83,2737.20,11381.38,7299.87
1,Afghanistan,1991,7359.68,5732.77,5287.89,22128.76,3150.56,151.54,22292.69,10271.98,...,28435.40,6429.25,739.25,9330.18,379.85,26379.53,4426.36,2741.18,11487.83,7386.76
2,Afghanistan,1992,7650.44,5954.80,5506.66,22873.77,3331.35,156.61,23102.20,10618.88,...,29173.61,6561.05,873.49,9769.84,388.13,27263.13,4568.91,2798.56,11866.24,7640.63
3,Afghanistan,1993,10270.73,7986.74,7104.62,25599.76,4477.01,206.83,27902.67,12260.09,...,30074.76,6731.97,1040.05,11433.77,405.58,30495.56,5080.29,2853.30,12335.96,7968.31
4,Afghanistan,1994,11409.18,8863.01,8051.52,28013.17,5102.62,233.93,32929.01,14197.95,...,30809.49,6889.33,1101.76,12936.96,415.35,33323.16,5499.23,2880.03,12672.95,8244.37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6463,Zimbabwe,2013,4254.28,2977.65,3913.21,7613.56,1037.97,59.15,7703.06,1317.30,...,11077.33,9099.55,382.54,1130.71,238.30,9593.03,2053.58,1018.39,2687.64,2409.93
6464,Zimbabwe,2014,4098.77,2856.43,3809.25,7429.45,972.89,54.33,7401.06,1259.99,...,11015.12,8902.22,353.39,1094.27,237.53,9387.19,2030.92,1016.41,2654.38,2399.26
6465,Zimbabwe,2015,3921.29,2717.74,3688.44,7267.03,912.25,50.26,7100.48,1205.59,...,11005.41,8818.57,332.36,1068.81,240.66,9189.34,1994.91,1019.97,2635.95,2398.53
6466,Zimbabwe,2016,3802.26,2624.32,3603.18,7134.60,875.71,47.72,6823.77,1099.87,...,11096.18,8758.49,319.69,950.22,244.72,9092.58,2030.88,1032.18,2641.38,2417.42
6467,Zimbabwe,2017,3796.07,2612.12,3579.35,6982.34,866.90,46.82,6609.24,1021.44,...,11243.09,8714.71,310.67,882.99,250.27,9020.94,2112.19,1049.40,2664.13,2449.55

In [49]:
# Data cleaning
# Create new data with select columns
filtered_death_factor = death_factor[death_factor["year"] == 2017]
# Reset dataframe index
new_death_factor = filtered_death_factor.reset_index()
# Drop index column
cleaned_death_factor_df = new_death_factor.drop(["index"], axis=1)

In [50]:
# Display cleaned dataframe
cleaned_death_factor_df.head()

,country,year,unsafe water source,unsafe sanitation,no access to handwashing facility,household air pollution from solid fuels,non-exclusive breastfeeding,discontinued breastfeeding,child wasting,child stunting,...,high systolic blood pressure,smoking,iron deficiency,vitamin A deficiency,low bone mineral density,air pollution,outdoor air pollution,diet high in sodium,diet low in whole grains,diet low in nuts and seeds
0,Afghanistan,2017,5256.65,3783.11,4156.21,19397.38,2422.37,94.12,14575.27,4990.04,...,33345.02,9241.25,1035.21,4442.33,447.21,26054.20,6872.06,3457.08,14884.96,9074.39
1,Albania,2017,4.09,1.60,4.50,736.88,8.17,0.07,40.61,8.28,...,7246.03,4161.16,0.67,5.56,43.34,1638.57,919.59,1668.34,2206.72,1130.54
2,Algeria,2017,189.94,58.91,191.73,58.11,126.55,7.72,635.45,82.01,...,43660.56,18609.93,137.53,61.65,617.64,13222.28,13315.30,5828.76,16103.08,11483.31
3,American Samoa,2017,0.72,0.18,0.29,7.55,0.12,0.00,2.29,0.12,...,77.28,31.22,0.26,0.21,0.70,22.18,14.63,8.52,25.64,17.52
4,Andean Latin America,2017,1257.99,733.65,1578.13,5773.89,344.10,20.48,3615.35,378.88,...,38229.60,15795.11,260.81,304.26,1375.11,17686.15,12011.09,9758.08,10967.10,8049.42

#### GDP by country

In [7]:
# Load source data into pandas
GDP_by_country = pd.read_csv(GDP)
GDP_by_country.head()

   rank        country        imfGDP         unGDP  gdppercapita          pop
0     1  United States  2.219810e+13  1.860000e+13    66678.0263   332915.073
1     2          China  1.546810e+13  1.120000e+13    10710.3777  1444216.107
2     3          Japan  5.495420e+12  4.940000e+12    43596.8659   126050.804
3     4        Germany  4.157120e+12  3.480000e+12    49548.2308    83900.473
4     5          India  3.257720e+12  2.260000e+12     2337.9495  1393409.038

In [39]:
# Data cleaning
# Sort data by country name 
GDP_by_country = GDP_by_country.sort_values(by="country", ascending=True)
# Create new data with select columns
new_GDP = GDP_by_country [["country", "gdppercapita", "pop"]].copy()
# Reset dataframe index
filtered_GDP = new_GDP.reset_index()
# Drop index column
cleaned_GDP_df = filtered_GDP.drop(["index"], axis=1)

In [40]:
# Display cleaned dataframe
cleaned_GDP_df

         country  gdppercapita        pop
0    Afghanistan      519.1861  39835.428
1        Albania     5990.3938   2872.933
2        Algeria     4326.9970  44616.624
3        Andorra    36951.8018     77.355
4         Angola     2841.6075  33933.610
..           ...           ...        ...
206    Venezuela     2442.2962  28704.954
207      Vietnam     2876.3915  98168.833
208        Yemen     1029.3323  30490.640
209       Zambia     1335.6834  18920.651
210     Zimbabwe     1710.2907  15092.171

[211 rows x 3 columns]

#### Connect to postgress

In [31]:
# Set connection path
user = config('USER')
password = config('PASSWORD')
engine = create_engine(f'postgresql://{user}:{password}@localhost:5432/ETL_project')

In [34]:
# Check for tables
engine.table_names()

<ipython-input-34-73dc095f7130>:2: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['gdp', 'life_expectancy', 'death_factor']

In [40]:
# load DataFrame into database
cleaned_life_expectancy_df.to_sql(name="life_expectancy", con=engine, if_exists='replace', index=False)
cleaned_GDP_df.to_sql(name="gdp", con=engine, if_exists='replace', index=False)
cleaned_death_factor_df.to_sql(name="death_factor", con=engine, if_exists='replace', index=False)

In [41]:
# Confirm data has been added by querying the table
pd.read_sql_query('select * from life_expectancy', con=engine)

                                country  year  life_expectancy_at_birth
0                           Afghanistan  2019                      63.2
1                               Albania  2019                      78.0
2                               Algeria  2019                      77.1
3                                Angola  2019                      63.1
4                   Antigua and Barbuda  2019                      76.5
..                                  ...   ...                       ...
178  Venezuela (Bolivarian Republic of)  2019                      73.9
179                            Viet Nam  2019                      73.7
180                               Yemen  2019                      66.6
181                              Zambia  2019                      62.5
182                            Zimbabwe  2019                      60.7

[183 rows x 3 columns]

In [30]:
# Confirm data has been added by querying the table
pd.read_sql_query('select * from gdp', con=engine)

         country  gdppercapita
0    Afghanistan      519.1861
1        Albania     5990.3938
2        Algeria     4326.9970
3        Andorra    36951.8018
4         Angola     2841.6075
..           ...           ...
206    Venezuela     2442.2962
207      Vietnam     2876.3915
208        Yemen     1029.3323
209       Zambia     1335.6834
210     Zimbabwe     1710.2907

[211 rows x 2 columns]

In [51]:
# Confirm data has been added by querying the table
pd.read_sql_query('select * from death_factor', con=engine)

,country,year,unsafe water source,unsafe sanitation,no access to handwashing facility,household air pollution from solid fuels,non-exclusive breastfeeding,discontinued breastfeeding,child wasting,child stunting,...,high systolic blood pressure,smoking,iron deficiency,vitamin A deficiency,low bone mineral density,air pollution,outdoor air pollution,diet high in sodium,diet low in whole grains,diet low in nuts and seeds
0,Afghanistan,2017,5256.65,3783.11,4156.21,19397.38,2422.37,94.12,14575.27,4990.04,...,33345.02,9241.25,1035.21,4442.33,447.21,26054.20,6872.06,3457.08,14884.96,9074.39
1,Albania,2017,4.09,1.60,4.50,736.88,8.17,0.07,40.61,8.28,...,7246.03,4161.16,0.67,5.56,43.34,1638.57,919.59,1668.34,2206.72,1130.54
2,Algeria,2017,189.94,58.91,191.73,58.11,126.55,7.72,635.45,82.01,...,43660.56,18609.93,137.53,61.65,617.64,13222.28,13315.30,5828.76,16103.08,11483.31
3,American Samoa,2017,0.72,0.18,0.29,7.55,0.12,0.00,2.29,0.12,...,77.28,31.22,0.26,0.21,0.70,22.18,14.63,8.52,25.64,17.52
4,Andean Latin America,2017,1257.99,733.65,1578.13,5773.89,344.10,20.48,3615.35,378.88,...,38229.60,15795.11,260.81,304.26,1375.11,17686.15,12011.09,9758.08,10967.10,8049.42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,Western Sub-Saharan Africa,2017,232494.40,160952.62,169944.47,172133.60,53606.77,3448.96,346100.40,77410.42,...,220837.38,53376.17,14601.26,74658.31,8117.36,253653.51,82793.37,24745.91,62016.25,34046.90
227,World,2017,1232368.28,774240.99,707247.71,1640599.78,160983.37,10011.81,1077101.96,220677.98,...,10440818.48,7099111.29,59881.95,232776.74,327314.26,4895476.00,3408877.62,3196514.27,3065588.51,2062521.71
228,Yemen,2017,6435.59,4011.29,3029.54,4700.40,2440.20,237.63,9475.33,1701.52,...,29585.03,12553.33,1009.47,2869.49,408.75,12378.58,7777.21,3271.58,12445.28,8677.63
229,Zambia,2017,6288.67,4718.90,4553.89,5452.03,752.16,63.18,7289.65,1373.26,...,7322.78,4353.52,179.51,1366.48,344.11,7105.76,1726.75,1183.67,1792.22,1580.10
230,Zimbabwe,2017,3796.07,2612.12,3579.35,6982.34,866.90,46.82,6609.24,1021.44,...,11243.09,8714.71,310.67,882.99,250.27,9020.94,2112.19,1049.40,2664.13,2449.55